.globalprefs-hover {
	/** WikimediaUI background color layer 3. */
	background-color: #eaecf0;
}

/* Style fixes for Skin:Vector. The ID selector is whitelisted in .stylelintrc because Vector uses it. */
body.skin-vector #preferences fieldset.globalprefs-section-header {
	padding-bottom: 0;
	margin-bottom: 0;
	border: 0;
}

/* Style fixes for Extension:BetaFeatures. */
#preferences #mw-prefsection-betafeatures fieldset.globalprefs-section-header {
	padding-left: 0;
}
